*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

.bg{
    background-image: linear-gradient(rgb(2, 123, 194)40%, rgb(0, 199, 153));
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;    
}

.bg2{
    background-image: linear-gradient(rgb(0, 199, 153), rgb(2, 123, 194)40%);
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text{
    background-color: white;
    padding: 25px;
    width: 23vw;
    max-height: 90vh;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.247), inset 0 0 8px 0 rgba(0, 0, 0, 0.324);
}

h3{
    margin-bottom: 15px;
}

p{
    margin-top: 15px;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.247), inset 0 0 8px 0 rgba(0, 0, 0, 0.324);
    display: block;
    width: 9vw;
    height: auto;
    padding: 8px 4px;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

