*{
    padding: 0;
    margin: 0;
}

.bg{
    background-image: linear-gradient(rgb(0, 0, 0), rgb(39, 39, 39));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1{
    font-size: 6.5rem;
    font-weight: 300;
    color: white;
    background: linear-gradient(to right,rgb(0, 136, 199), rgb(119, 0, 199));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
}
